#loginForm.navForm
	fieldset
		form( method="post", action="/login")
			h2 LOGIN
			input(type="text", placeholder="email" name="email")
			input(type="password", placeholder="password" name="password")
			br
			input(type="submit", value="login" class="button tiny" id="loginButton")
			br
			a(href="/pwReset" id="navLink") forgot your password? 