#signupForm.navForm
	fieldset
		form( method="post", action="/signup")
			h2 SIGNUP
			input(type="text", placeholder="email" name="email")
			input(type="text", placeholder="nickname" name="nickname")
			input(type="password", placeholder="password" name="password")
			br
			input(type="submit", value="signup" class="button tiny" id="signupButton")