<div id="loginForm" class="navForm">

	<fieldset>
		<H2>LOGIN</H2>
		<input id="email" type="text" placeholder="email" />
		<input id="password" type="password" placeholder="password" />
		<br />
		<input id="loginButton" class="button tiny" type="submit" value="Login">
	</fieldset>
</div>
