<div>
	<label>Start time:</label>
	<input type="time" id="start_time" value="00:00">
	<label>End time:</label>
	<input type="time" id="end_time" value="00:00">
	<label>Where:</label>
	<input type="text" id="where">
	<label>Description</label>
	<input type="textarea" id="description">
	<button id="submitNewEvent">Sumbit</button>
</div>