<div>
	<div class="row">
		<div class="small-2 columns">
			<label>Start time:</label>
			<input type="time" id="start_time" value="00:00">
		</div>
	</div>
	<div class="row">
		<div class="small-2 columns">
			<label>End time:</label>
			<input type="time" id="end_time" value="00:00">
		</div>
	</div>
	<div class="row">
		<div class="small-2 columns">
			<label>Where:</label>
			<input type="text" id="where" >
		</div>
	</div>
	<div class="row">
		<div class="small-7 columns">
			<label>Description</label>
			<textarea id="description" class="textareaDescription"></textarea>
		</div>
	</div>
	<div class="small-7 columns">
		<button class="button radius" id="submitNewEvent">Sumbit</button>
	</div>
</div>