{{!-- <button id="modal-launcher">Launch Modal Window</button> --}}
<div id="modal-background"></div>
<div id="modal-content">
	<div class="row collapse">
       	<div class="small-10 columns">
       		<input type="text" placeholder="Hex Value" id="searchinput">
       	</div>
       	<div class="small-2 columns">
       		<button id="searchbutton" class="button postfix">GO!</button>
       	</div>
    </div>
    <button id="modal-close">Close Modal Window</button>
</div>



