<div id="signupForm" class="navForm">
	
	<fieldset>
		<h2>SIGNUP</h2>
		<input id="email" type="text" placeholder="email" />
		<input id="nickname" type="text" placeholder="nickname" />
		<input id="password" type="password" placeholder="password" />
		<br />
		<input id="signupButton" class="button tiny" type="submit" value="Signup">	
	</fieldset>	
</div>
