include ./layouts/layout.jade


block content
    nav.top-bar(data-topbar)
        ul.title-area
            li.name
                h1
                    a(href='#') Spontanious
            li.toggle-topbar.menu-icon
                a(href='#')
        section.top-bar-section
            // Right Nav Section 
            ul.right
                if isAuthenticated
                    li
                        a(href="/logout") Logout
                else
                    li.has-dropdown#login
                        a(href='#') Login
                        ul.dropdown
                            include users/login

                    li.has-dropdown#signup
                        a(href='#') Signup
                        ul.dropdown
                            include users/signup

                li.has-dropdown
                    a(href='#') Menu
                    ul.dropdown
                        li
                            a(href='#')                        
    
    input#pac-input.controls(type="text" placeholder="Search Box")
    #map_canvas
    #newEventModal.reveal-modal(data-reveal)
        a.close-reveal-modal &#215;
    #myModal.reveal-modal(data-reveal)
        h2 Awesome. I have it.
        p.lead your couch. its mine
        p I'm a cool paragraph that lives inside of a even cooler modal . Wins
        #newEvent
        input#pac-input2.controls(type="text" placeholder="Search Box")
        a.close-reveal-modal &#215;
            
            

    #footer