include ./layouts/layout.jade


block content
    
    input#pac-input.controls(type="text" placeholder="Search Box")
    #map_canvas
    #newEventModal.reveal-modal(data-reveal)
        a.close-reveal-modal &#215;
    #myModal.reveal-modal(data-reveal)
        h2 Awesome. I have it.
        p.lead your couch. its mine
        p I'm a cool paragraph that lives inside of a even cooler modal . Wins
        input#pac-input2.controls(type="text" placeholder="Search Box")
        a.close-reveal-modal &#215;
    #eventDetail.reveal-modal(data-reveal)
        a.close-reveal-modal &#215;

    if isAuthenticated
        script.
            var loggedInNickname = !{JSON.stringify(username)};
    else
        script.
            var loggedInNickname = 'nobody';

    #controllView
    #footer