include ./layouts/layout.jade


block content


	form.row(id="pwReset", method="post", action="/pwUpdate")
		fieldset.small-4.columns
			input(type="password", placeholder="password" name="password")
			input(type="hidden", value="#{guid}", name="guid")
			input(type="hidden", value="#{email}", name="email")
			button.button.radius(type="submit") Update