doctype html
html
  head
    title= Spontanious

    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/DrinkingBud.css')
    
  body
    #error.reveal-modal(data-reveal)
        h1 ERROR
        strong owwww sad panda it looks like a ugly error occured!!
        p because
            #errorMsg
        a.close-reveal-modal &#215;
    nav.top-bar(data-topbar)
        ul.title-area
            li.name
                h1
                    a(href='/') Spontanious
            li.toggle-topbar.menu-icon
                a(href='#')
        section.top-bar-section
            // Right Nav Section 
            ul.right
                if isAuthenticated
                    li
                        a(href="/logout") Logout
                else
                    li.has-dropdown#login
                        a(href='#') Login
                        ul.dropdown
                            include ../users/login

                    li.has-dropdown#signup
                        a(href='#') Signup
                        ul.dropdown
                            include ../users/signup

    block content
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyJ5KcxMyz3vkSs75M4KRfGFA7Mai9fks&sensor=false&libraries=geometry,places")
    script(type="text/javascript", src="/js/DrinkingBud.js")
    script(type="text/javascript", src="/js/vendor/modernizr.js")
    script(type="text/javascript", src="/js/foundation.min.js")
